<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="stylesheets/settings.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/ladda/ladda-themeless.min.css" type="text/css" rel="stylesheet">
    <title>Settings</title>
    <script src="javascript/jquery/jquery-2.1.0.min.js" type="text/javascript"> </script>
    <script src="javascript/robot_nao_settings.js" type="text/javascript"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="body_background">
<div id="top_locked_div"><img id="back_button" src="../images/back_icon.png">
    <div id="page_title">Settings</div>
    <div class="clearBoth"></div>
</div>
<div class="container" id="main_wrapper" style="width: auto;">

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="settings">
        <span class="heading">Last Communication:</span>
        <span id="last_communication">No Communication Yet</span>
        <br>

        <div id="robot_stats"/>
        <span id="robot_stats_link">IP address not sent by Megatron yet</span>
        <br>

    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="color:white">
        <p><h3>Team</h3> </p>
        <div class="container">
            <div class="row seven-cols">
                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/neeraja.jpg" alt="Neeraja Ganesan" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Neeraja
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/ron.png" alt="Ron Poznansky" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Ron Poznansky
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/anthony.png" alt="Anthony Stevens" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Anthony Stevens
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/alyssa.jpg" alt="Alyssa Simpson" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Alyssa Simpson
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/rob.png" alt="Rob Murgai" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Rob Murgai
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/stephan.png" alt="Stephan Roorda" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Stephan Roorda
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
                    <div class="staff-photo">
                        <p> <img src="images/team/ryan.png" alt="Ryan Anderson" class="team_icon"/> </p>
                    </div>

                    <div class="staff-name">
                        <div class="staff-first-name">
                            Ryan Anderson
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
